@using FlightSearch.Models
@using FlightSearch.ViewModels
@model FlightSearch.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Select Flights";
}

<div class="jumbotron">
    <h1>NotUnited Airlines</h1>
    <p class="lead">Our main feature is that we're not them!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Select Departure Airport</h2>
        <div>
            @Html.DropDownListFor(a => a.SelectedDepartureAirport, Model.Airports, "Pick Departure Airport", new { @id = "ddlDepartureAirports", @class = "selectpicker", style = "width=120px" })
        </div>
    </div>
    <div class="col-md-4">
        <h2>Select Arrival Airport</h2>
        <div>
            @Html.DropDownListFor(a => a.SelectedArrivalAirport, Model.Airports, "Pick Arrival Airport", new { @id = "ddlArrivalAirports", @class = "selectpicker", style = "width=120px" })
        </div>
    </div>
</div>

<table>
    @foreach (Flight flight in Model.Flights)
    {
        <tr>
            <td>@flight.FlightNumber</td>
            <td>@flight.DepartureAirportCode</td>
            <td>@flight.ArrivalAirportCode</td>
        </tr>
    }
</table>